hrlist-client/src/wsdl/EmployeeWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://ws.service.hrlist.slyadz.com/" name="EmployeeWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://ws.service.hrlist.slyadz.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.service.hrlist.slyadz.com/" schemaLocation="EmployeeWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="deleteEmployee">
    <part name="parameters" element="tns:deleteEmployee"/>
  </message>
  <message name="deleteEmployeeResponse">
    <part name="parameters" element="tns:deleteEmployeeResponse"/>
  </message>
  <message name="createEmployee">
    <part name="parameters" element="tns:createEmployee"/>
  </message>
  <message name="createEmployeeResponse">
    <part name="parameters" element="tns:createEmployeeResponse"/>
  </message>
  <message name="updateEmployee">
    <part name="parameters" element="tns:updateEmployee"/>
  </message>
  <message name="updateEmployeeResponse">
    <part name="parameters" element="tns:updateEmployeeResponse"/>
  </message>
  <message name="getAllEmployees">
    <part name="parameters" element="tns:getAllEmployees"/>
  </message>
  <message name="getAllEmployeesResponse">
    <part name="parameters" element="tns:getAllEmployeesResponse"/>
  </message>
  <message name="getEmployeesByDepartment">
    <part name="parameters" element="tns:getEmployeesByDepartment"/>
  </message>
  <message name="getEmployeesByDepartmentResponse">
    <part name="parameters" element="tns:getEmployeesByDepartmentResponse"/>
  </message>
  <portType name="EmployeeWS">
    <operation name="deleteEmployee">
      <input wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/deleteEmployeeRequest" message="tns:deleteEmployee"/>
      <output wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/deleteEmployeeResponse" message="tns:deleteEmployeeResponse"/>
    </operation>
    <operation name="createEmployee">
      <input wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/createEmployeeRequest" message="tns:createEmployee"/>
      <output wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/createEmployeeResponse" message="tns:createEmployeeResponse"/>
    </operation>
    <operation name="updateEmployee">
      <input wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/updateEmployeeRequest" message="tns:updateEmployee"/>
      <output wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/updateEmployeeResponse" message="tns:updateEmployeeResponse"/>
    </operation>
    <operation name="getAllEmployees">
      <input wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/getAllEmployeesRequest" message="tns:getAllEmployees"/>
      <output wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/getAllEmployeesResponse" message="tns:getAllEmployeesResponse"/>
    </operation>
    <operation name="getEmployeesByDepartment">
      <input wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/getEmployeesByDepartmentRequest" message="tns:getEmployeesByDepartment"/>
      <output wsam:Action="http://ws.service.hrlist.slyadz.com/EmployeeWS/getEmployeesByDepartmentResponse" message="tns:getEmployeesByDepartmentResponse"/>
    </operation>
  </portType>
  <binding name="EmployeeWSPortBinding" type="tns:EmployeeWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="deleteEmployee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createEmployee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateEmployee">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getAllEmployees">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getEmployeesByDepartment">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="EmployeeWSService">
    <port name="EmployeeWSPort" binding="tns:EmployeeWSPortBinding">
      <soap:address location="http://localhost:8080/hrlist-service/EmployeeWSService"/>
    </port>
  </service>
</definitions>

